<h2>Welcome to CSE Motors</h2>
<%- messages() %>
        <div class="container">
        <img src="./images/vehicles/delorean.jpg"  alt="hero image of CSE motors" class="image">
        <div class="overlay">
            <h3>DMC Delorean</h3>
            <p>3 Cup Holders<br>
            Superman Doors <br>
            Fuzzy Dice!
        </p>
        <img src="./images/site/own_today.png" alt="For clicking to buy car">
    </div>
        </div>
        <div class="cards">
            <section class="upgrades">
                <h4>Delorean Upgrades</h4>
                <div id="box-1"><img src="./images/upgrades/flux-cap.png" alt="flux cap for tyre rims">
                <a href="./images/upgrades/flux-cap.png">Flux Capacitor</a>
                </div>
                
                <div id="box-2"><img src="./images/upgrades/flame.jpg" alt="lights like a flame">
                <a href="./images/upgrades/flame.jpg">Flame Decals</a>
                </div>
                
            
                <div id="box-3"><img src="./images/upgrades/bumper_sticker.jpg" alt="bumper becomes new after this sticker pasted">
                <a href="./images/upgrades/bumper_sticker.jpg">Bumper Stickers</a>
                </div>
                <div id="box-4"><img src="./images/upgrades/hub-cap.jpg" alt="caps for hubs are extra beauty">
                <a href="./images/upgrades/hub-cap.jpg">Hub Caps</a>
                </div>
            </section>
            <section class="reviews">
                <h4>DMC Delorean Reviews</h4>
                <ul>
                    <li>"So fast its almost like travelling in time" (4/5)</li>
                    <li>"Coolest ride on the road" (4/5)</li>
                    <li>"I am feeling McFly" (5/5)</li>
                    <li>"The most futurist ride of our day" (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5) </li>
                </ul>
            </section>

        </div>