<h1><%- title %></h1>
<%- messages() %>


<div id="accountManagementList">
<label for="accountList">Choose Account:</label>
<%- accountSelect %>
<table id="accountsTable"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/account.js"></script>
