<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div class="btnContainer">
    <span class="copyright">&copy;<%= year %> | CSE 340 App </span> 
  <div class="footerBtn">
  
  <input id="e-btn" type=button onClick="location.href='http://localhost:5500/inv/error'"
 value='Error'>
  
  </div>
</div>
</footer>