<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy<%= year %> | CSE 340 App  
    <input id="e-btn" type=button onClick="location.href='http://localhost:5500/inv/detail/300'"
 value='Error'>
  </p>
</footer>