<h1><%- title %></h1>
<%- messages() %>
<ul class="managementView">
    <li><a href="/inv/newClassification">Add new classification</a></li>
    <li><a href="/inv/newVehicle">Add new Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<div id="inventoryManagementList">
<label for="classificationList">Choose Classification:</label>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
