#top-header{
    background-color: blue;
}
.siteName{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tools a, #top-header a{
    text-decoration: none;
    color: black;
}
#tools{
   text-align: right;
   padding: 5px;
   font-size: 20px;
}